<header>
    <div class="container arcade">
     <div class="row">
         <div class="col">
             1UP
         </div>
         <div class="col">
             HIGH SCORE
         </div>
     </div>
      
  </div>
  <div class="container arcade1">
     <div class="row">
         <div class="col">
             $70
         </div>
         <div class="col">
             92000000
         </div>
     </div>
    </div>
    <div>
        <%= image_tag 'HomebaselogoNOdiscrip.png', :class => "logo" %>
        <p class="text-center logo-text">Community Live, Work, Workout and Wellness</p>
    </div>
    </header>
    
    <!-- HERO SECTION -->
    
    <section id="info-icon">
      <div class="container">
       <div class="row no-gutters justify-content-center">
       <div class="col-2">
       <%= image_tag 'liveicon.png', :class => "home icon" %>
       </div>
       <div class="col-2">
       <%= image_tag 'workicon.png', :class => "work icon" %>
       </div>
       <div class="col-2">
        <%= image_tag 'workouticon.png', :class => "workout icon" %>
        </div>
        <div class="col-2">
        <%= image_tag 'wellnessicon.png', :class => "wellness icon" %>
        </div>
        <div class="col-2">
        <%= image_tag 'homebasediamond.png', :class => "diamond icon" %>
        </div>
        </div>
        </div>
    </section>
    
    <section class="text-center">
        <h5>A Futuristic approach to Millennial Living</h5>
        <p>Community based, short term stay housing. <br> Members can Live, Work, Workout and maintain Wellness through yoga, meditation &amp; healthy eating.</p>
    </section>
    
    <footer>
        <p class="lead">The good life is built with good relationships.</p>
    </footer>
     
     