<header>
    <div class="container arcade">
     <div class="row">
         <div class="col">
             1UP
         </div>
         <div class="col">
             HIGH SCORE
         </div>
     </div>
      
  </div>
  <div class="container arcade1">
     <div class="row">
         <div class="col">
             $70
         </div>
         <div class="col">
             92000000
         </div>
     </div>
    </div>
    <div>
        <%= image_tag 'HomebaselogoNOdiscrip.png', :class => "logo" %>
        <p class="text-center logo-text">Community Live, Work, Workout and Wellness</p>
    </div>
    </header>
    
    <!-- HERO SECTION -->
    
    <section id="info-icon">
       <div class="container">
       <div class="row no-gutters">
       <div class="col-2">
       <%= image_tag 'liveicon.png', :class => "home icon" %>
       </div>
       <div class="col-2">
       <%= image_tag 'workicon.png', :class => "work icon" %>
       </div>
       <div class="col-2">
        <%= image_tag 'workouticon.png', :class => "workout icon" %>
        </div>
        <div class="col-2">
        <%= image_tag 'wellnessicon.png', :class => "wellness icon" %>
        </div>
        <div class="col-2">
        <%= image_tag 'homebasediamond.png', :class => "diamond icon" %>
        </div>
        </div>
       
        </div>
    </section>
    
    <section >
         <div id="hero1">
        <h5 class="top info-icon1">A Futuristic approach to Millennial Living</h5>
        <p class="info-icon1">Community based, short term stay housing. <br> Members can Live, Work, Workout and maintain Wellness through yoga, meditation &amp; healthy eating.</p>
        
    
    
    <div class="logo1">
        <div class="child-logo">
         <%= image_tag 'homebaselotuswhite.png', :class => "house-white" %>
         </div>
    </div>
   
    
    
    
       <div id="hero">
        <h5 class="hero-text top"> Unique Pricing</h5>
        <p>Daily, Nightly, 3 Night, Weekly, Monthly, 3 Month, 6 Month</p>
        <p class="price lead">Starting at <span class="number">$70/night</span></p>
        
            <h3 class="bottom">Homebase Soho + Homebase Downtown</h3>
        <p>Coming Soon!</p>
       <div class="wrapper">
        <div>
            <form action="https://livehomebase.us12.list-manage.com/subscribe/post"
                method="post">
                <input type="hidden" name="u" value="aa5c6da9921863ea561b16408">
                <input type="hidden" name="id" value="f00a4aaa54">
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email Address" required>
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="b_e44c1f194bec93e238615469e_f6f826e769" tabindex="-1" value="">
                </div>
                <input type="submit" name="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="mc-button">
                <div id="subscribe-result">
                <input type="hidden" name="ht" value="fc7d311d67828856fa4c338f88205af6fdf6ee5e:MTUzMDczOTUzMy44ODc=">
    <input type="hidden" name="mc_signupsource" value="hosted">
                </div>
            </form>
        </div>
        <h5 class="top email-text">Drop E-mail For Updates</h5>
           </div>
           </div>
    </div>
    </section>
    
    <footer>
        <p class="lead">The good life is built with good relationships.</p>
    </footer>
     
     