<header>
    <div class="container arcade">
     <div class="row">
         <div class="col">
             1UP
         </div>
         <div class="col">
             HIGH SCORE
         </div>
     </div>
      
  </div>
  <div class="container arcade1">
     <div class="row">
         <div class="col">
             $70
         </div>
         <div class="col">
             92000000
         </div>
     </div>
    </div>
    </header>
 

 <body>

 
    
<div id="icons">
      <div>
       <%= image_tag 'HomebaselogoNOdiscrip.png', alt:'', :class=> "logo" %>
        <p class="text-center logo-text">Community Live, Work, Workout and Wellness</p>
    </div>
      <div class="icon-shift">
      <div class="row no-gutters justify-content-center">
      <div class="col-2">
       <%= image_tag 'liveicon.png', alt:'', :class=> "icon"%>
       </div>
       <div class="col-2">
       <%= image_tag 'workicon.png', alt:'', :class=> "icon" %>
       </div>
        <div class="col-2">     
        <%= image_tag 'workouticon.png', alt:'', :class=> "icon" %>
        </div>
        <div class="col-2">
        <%= image_tag 'wellnessicon.png', alt:'', :class=> "icon" %>
        </div>
        <div class="col-2">
        <%= image_tag 'homebasediamond.png', alt:'', :class=> "icon" %>
        </div>
        </div>
        </div>
        <div class="clearview future">
        <h2 class="top">A Futuristic approach to Millennial Living</h2>
        <p>Community based, short term stay housing. <br> Members can Live, Work, Workout and maintain Wellness through yoga, meditation &amp; healthy eating + classes for Mind, Body &amp; Spirit.</p>
        </div>
        <%= image_tag 'homebaselotuswhite.png', atl: '', :class => "white-house" %>
        </div>
        
        <section id="hero">
            <div class="clearview future">
            <h2 class="top ">Unique Pricing</h2>
            <p>Daily, Nightly, 3 Night, Weekly, Monthly, 3 Month, 6 Month</p>
            <p class="lead">Starting at <span class="price">$70/night</span></p>
            <h3 class="bottom">HOMEBASE CHINATOWN</h3>
            <p>Coming Soon!</p>
            </div>
            <div>
        
        </div>

        </section>
        
        <section id="email-signup">
            <div class="wrapper">
        <div>
          <!-- Begin MailChimp Signup Form -->
<center>
<div id="mc_embed_signup">
<form action="https://livehomebase.us12.list-manage.com/subscribe/post?u=aa5c6da9921863ea561b16408&amp;id=f00a4aaa54" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
<div class="mc-field-group input-group">
	  <h5 class="top email-text">Drop E-mail For Updates</h5>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email Address" style="border: 5px solid #4881F2; height: 40px; padding-right: 130px; margin-top: 18px;" >
	
	 <button class="btn btn-primary email-button" type="button" id="mc-embedded-subscribe">
      Submit  
    </button>
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_aa5c6da9921863ea561b16408_f00a4aaa54" tabindex="-1" value=""></div>
    </div>
   
</form>
</div>
</center>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
        </div>
      
           </div>
        </section>			


		<!-- Footer -->
			<footer>
				<h4 class="top">Drop E-mail For Updates</h4>
				<p class="lead">The good life is built with good relationships.</p>
			</footer>

		<!-- Scripts -->
			
			
	</body>
